<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CrewAI Manager</title>
    <link rel="stylesheet" href="./style/style-index.css" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/ashes.min.css"
    />
  </head>

  <body>
    <div class="container">
      <h1>CrewAI Manager</h1>
      <button id="runButton">Lancer CrewAI</button>
      <button id="toggleDarkMode">Activer le mode sombre</button>
      <button onclick="runCrewAI()">Exécuter CrewAI</button>
      <div id="result"></div>

      <h2>Créer ou Modifier un Fichier Python</h2>
      <form id="pythonFileForm">
        <label for="fileName">Nom du fichier :</label>
        <input type="text" id="fileName" required />

        <label for="fileContent">Contenu du fichier :</label>
        <textarea id="fileContent" rows="10" required></textarea>

        <button type="submit">Enregistrer</button>
      </form>

      <div id="result"></div>
    </div>

    <script defer src="./js/script-index.js"></script>
    <script defer src="./js/script-dark-mode.js"></script>
    <script defer src="./js/script-crew-ai.js"></script>
  </body>
</html>
